/Src/Armku.Communicatin/obj
/Src/Armku.Communicatin/bin
/Src/Armku.Communicatin/.vs
/Src/.vs
*.pdb
/ModbusTest/ModbusTest.exe.config
/ModbusTest/ModbusTest.exe
/Src/ModbusTest/obj
/ModbusTest/System.Collections.Specialized.dll
/ModbusTest/System.Collections.NonGeneric.dll
/ModbusTest/System.Collections.dll
/ModbusTest/System.Collections.Concurrent.dll
/ModbusTest/System.AppContext.dll
/ModbusTest/netstandard.dll
/ModbusTest/Microsoft.Win32.Primitives.dll
/ModbusTest/Armku.Communication.dll
/ModbusTest/System.Diagnostics.FileVersionInfo.dll
/ModbusTest/System.Diagnostics.Debug.dll
/ModbusTest/System.Diagnostics.Contracts.dll
/ModbusTest/System.Data.Common.dll
/ModbusTest/System.Console.dll
/ModbusTest/System.ComponentModel.TypeConverter.dll
/ModbusTest/System.ComponentModel.Primitives.dll
/ModbusTest/System.ComponentModel.EventBasedAsync.dll
/ModbusTest/System.ComponentModel.dll
/ModbusTest/System.Dynamic.Runtime.dll
/ModbusTest/System.Drawing.Primitives.dll
/ModbusTest/System.Diagnostics.Tracing.dll
/ModbusTest/System.Diagnostics.TraceSource.dll
/ModbusTest/System.Diagnostics.Tools.dll
/ModbusTest/System.Diagnostics.TextWriterTraceListener.dll
/ModbusTest/System.Diagnostics.StackTrace.dll
/ModbusTest/System.Diagnostics.Process.dll
/ModbusTest/System.Xml.XPath.dll
/ModbusTest/System.Xml.XmlSerializer.dll
/ModbusTest/System.Xml.XmlDocument.dll
/ModbusTest/System.Xml.XDocument.dll
/ModbusTest/System.Xml.ReaderWriter.dll
/ModbusTest/System.ValueTuple.dll
/ModbusTest/System.Threading.Timer.dll
/ModbusTest/System.Threading.ThreadPool.dll
/ModbusTest/System.Threading.Thread.dll
/ModbusTest/System.Threading.Tasks.Parallel.dll
/ModbusTest/System.Threading.Tasks.dll
/ModbusTest/System.Threading.Overlapped.dll
/ModbusTest/System.Threading.dll
/ModbusTest/System.Text.RegularExpressions.dll
/ModbusTest/System.Text.Encoding.Extensions.dll
/ModbusTest/System.Text.Encoding.dll
/ModbusTest/System.Security.SecureString.dll
/ModbusTest/System.Security.Principal.dll
/ModbusTest/System.Security.Cryptography.X509Certificates.dll
/ModbusTest/System.Security.Cryptography.Primitives.dll
/ModbusTest/System.Security.Cryptography.Encoding.dll
/ModbusTest/System.Security.Cryptography.Csp.dll
/ModbusTest/System.Security.Cryptography.Algorithms.dll
/ModbusTest/System.Security.Claims.dll
/ModbusTest/System.Runtime.Serialization.Xml.dll
/ModbusTest/System.Runtime.Serialization.Primitives.dll
/ModbusTest/System.Runtime.Serialization.Json.dll
/ModbusTest/System.Runtime.Serialization.Formatters.dll
/ModbusTest/System.Runtime.Numerics.dll
/ModbusTest/System.Runtime.InteropServices.RuntimeInformation.dll
/ModbusTest/System.Runtime.InteropServices.dll
/ModbusTest/System.Runtime.Handles.dll
/ModbusTest/System.Runtime.Extensions.dll
/ModbusTest/System.Runtime.dll
/ModbusTest/System.Runtime.CompilerServices.VisualC.dll
/ModbusTest/System.Resources.Writer.dll
/ModbusTest/System.Resources.ResourceManager.dll
/ModbusTest/System.Resources.Reader.dll
/ModbusTest/System.Reflection.Primitives.dll
/ModbusTest/System.Reflection.Extensions.dll
/ModbusTest/System.Reflection.dll
/ModbusTest/System.ObjectModel.dll
/ModbusTest/System.Net.WebSockets.dll
/ModbusTest/System.Net.WebSockets.Client.dll
/ModbusTest/System.Net.WebHeaderCollection.dll
/ModbusTest/System.Net.Sockets.dll
/ModbusTest/System.Net.Security.dll
/ModbusTest/System.Net.Requests.dll
/ModbusTest/System.Net.Primitives.dll
/ModbusTest/System.Net.Ping.dll
/ModbusTest/System.Net.NetworkInformation.dll
/ModbusTest/System.Net.NameResolution.dll
/ModbusTest/System.Net.Http.dll
/ModbusTest/System.Linq.Queryable.dll
/ModbusTest/System.Linq.Parallel.dll
/ModbusTest/System.Linq.Expressions.dll
/ModbusTest/System.Linq.dll
/ModbusTest/System.IO.UnmanagedMemoryStream.dll
/ModbusTest/System.IO.Ports.xml
/ModbusTest/System.IO.Ports.dll
/ModbusTest/System.IO.Pipes.dll
/ModbusTest/System.IO.MemoryMappedFiles.dll
/ModbusTest/System.IO.IsolatedStorage.dll
/ModbusTest/System.IO.FileSystem.Watcher.dll
/ModbusTest/System.IO.FileSystem.Primitives.dll
/ModbusTest/System.IO.FileSystem.DriveInfo.dll
/ModbusTest/System.IO.FileSystem.dll
/ModbusTest/System.IO.dll
/ModbusTest/System.IO.Compression.ZipFile.dll
/ModbusTest/System.IO.Compression.dll
/ModbusTest/System.Globalization.Extensions.dll
/ModbusTest/System.Globalization.dll
/ModbusTest/System.Globalization.Calendars.dll
/ModbusTest/System.Xml.XPath.XDocument.dll
/Src/packages
/ModbusTest/Config
/ModbusTest/NewLife.Core.dll
/ModbusTest/NewLife.Core.xml
/ModbusTest/Log
